body {
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}

p {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

li {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

.work-experience .subtitle {
    color: #FB6D3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.sidebar {
    width: 370px;
    height: 1319px;
    /* flex-shrink: 0; */
    background: #1E2939;
    padding-top: 40px;
    padding-bottom: 107px;
    color: #FFFFFF;
}

.contacts p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    margin: 8px 0px 0px 0px;
}

.contacts h3 {
    margin: 0px;
}

.contacts .mycontacts {
    opacity: 0.5;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.sidebar > .content {
    margin-top: 50px;
    margin-left: 40px;
}

.sidebar > .tech-skills {
    margin: 47px 0px 0px 0px;
}

.tech-skills-section {
    margin-bottom: 10px;
}

.tech-skills h3 {
    margin-top: 65px;
}

.tech-skills ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 8px;
}

.tech-skills ul li::before {
    content: "\2022";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
    display: inline-block;
    width: 10px;
}

.tech-skills li {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.tech-skills .my-tech-skills {
    opacity: 0.75;
}

.sidebar > .soft-skills {
    margin: 47px 0px 0px 0px;
}

.soft-skills-section {
    margin-bottom: 10px;
}

.soft-skills h3 {
    margin-top: 60px;
}

.soft-skills ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 8px;
}

.soft-skills ul li::before {
    content: "\2022";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
    display: inline-block;
    width: 10px;
}

.soft-skills li {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}


.soft-skills .my-soft-skills {
    opacity: 0.75;
}


/* MAIN CONTENT STYLES */
.main-content {
    width: calc(100% - 370px);
    padding: 102px 217px 107px 88px
}

.summary {
    margin-bottom: 40px;
}

.summary > h4 {
    margin: 0px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px; /* 121.429% */
}

.summary h2 {
    margin: 19px 0px 24px 0px;
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 122.222% */
}

.summary > p {
    margin: 0px;
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.projects-section {
    
}

.projects-section > h3 {
    margin: 0px;
}

.projects-section > ol {
    margin: 8px 0 1.5em 0;
    padding: 0;
    counter-reset: item;
}

ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

ol > li::before {
    display: inline-block;
    width: 1em;
    padding-right: 13px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-align: right;
    content: counter(item) ".";
}

.projects-section > ol span {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.projects-section a {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
}

.work-experience {
    margin: 51px 0px 0px 0px;
}

.work-experience h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 122.727% */
    margin: 0px;
}

.work-experience > .first {
    margin: 12px 0px;
}

.work-experience > .first > h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 12px 0px;
}

.work-experience > .first > p {
    color: #A8A8A8;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 125% */
    margin: 0;
}

